{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* About Page Template
* - See About model for fields
* - Use {{jsonPrint about}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
{{!-- {{jsonPrint this}} --}}
<section class="section">
	<div class="banner border-clear light-gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 pv-40">
					{{!-- {{> page/name name="Vision"}} --}}
					<span class="about-vision"> {{about.vision}}</span>
					<span class="about-description"> {{about.mission}}</span>
					<span id="markdown-span" class="about-collaborations"> {{{about.collaborationsLink.html}}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="banner border-clear light-gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 pv-40">
					<iframe src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1nPAwCDRMHNc5fuhobxhqs-4zZ4lrM3glZemB_FBj7mc&font=Default&lang=en&initial_zoom=.5&height=650" style="width:100%; height: 650px;"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- People and Affiliates-->
<section class="section clearfix{{!--  about-section --}}">
	<div class="container">

		<div class="row">

			<div class="col-md-12">
				{{!-- {{> page/name name="Our Partners"}} --}}
				<h1 class="page-title text-center">Affiliates</h1>
			</div>

			<div class="affiliates col-md-12 container-fluid pv-20">
				<div class="row affiliate-buttons clearfix button-group filters-button-group" data-filter-group="">
				    <button value="*" data-filter="*" class="button is-checked">All</button>
				    <span class="dot-gray"></span>
				    <button class="button" value="#" data-filter=".University">Universities</button>
				    <span class="dot-gray"></span>
				    <button class="button" value="#" data-filter=".CityAgency">City Agencies</button>
				    <span class="dot-gray"></span>
				    <button class="button" value="#" data-filter=".CommunityOrganization">Community Organizations</button>
				</div>

				<div id="affiliate-content" class="affiliate-content row">
					{{#if affiliates}}
						{{#each affiliates}}
							<div class="col-md-3 col-sm-12 affiliate-item {{{this.category}}}">
								<div style="margin:0 auto" class="" data-category="{{{this.category}}}" >
									{{>about/affiliate_icon affiliate=this}}
								</div>
							</div>
						{{/each}}
					{{else}}
						<strong>No affiliates!! Whaaaa??</strong>
					{{/if}}
				</div>

			</div>
		</div>

		<div class="row">

			<div class="col-md-12">
				{{!-- {{> page/name name="Our Partners"}} --}}
				<h1 class="about-title text-center">Team Members</h1>
			</div>
			{{#if teamMembers}}
				{{#each teamMembers}}
					{{>people/person person=this}}
				{{!-- {{people}} --}}
				{{/each}}
			{{/if}}
		</div>


			{{!-- Partner icons --}}

		<div class="row">

			<div class="col-md-12">
				{{!-- {{> page/name name="Our Partners"}} --}}
				<h1 class="page-title text-center">Funders</h1>
			</div>
			{{!-- Partner icons --}}
			<div class="col-md-12 pv-20">
				<div class="clients-container">
					<div class="clients">
						{{#each funders}}
						<div class="funder col-md-2 col-sm-4"> 
							{{> about/affiliate_icon affiliate=this}}
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>



