{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* About Page Template
* - See About model for fields
* - Use {{jsonPrint about}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
{{!-- {{jsonPrint this}} --}}
<section class="section">
	<div class="banner border-clear light-gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 pv-40">
					{{!-- {{> page/name name="Vision"}} --}}
					<span class="about-vision"> {{about.vision}}</span>
					<span class="about-description"> {{about.description}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="banner border-clear light-gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 pv-40">
					<iframe src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1nPAwCDRMHNc5fuhobxhqs-4zZ4lrM3glZemB_FBj7mc&font=Default&lang=en&initial_zoom=2&height=650" style="width:100%; height: 650px;"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- People and Affiliates-->
<section class="section clearfix{{!--  about-section --}}">
	<div class="container">

		<div class="row">

			<div class="col-md-12">
				{{!-- {{> page/name name="Our Partners"}} --}}
				<h1 class="about-title text-center">Team Members</h1>
			</div>
			{{#if teamMembers}}
				{{#each teamMembers}}
					{{>people/person person=this}}
				{{!-- {{people}} --}}
				{{/each}}
			{{/if}}
		</div>

		<div class="row">

			<div class="col-md-12">
				{{!-- {{> page/name name="Our Partners"}} --}}
				<h1 class="page-title text-center">Affiliates</h1>
			</div>
			{{!-- Partner icons --}}

				{{!-- <div class="clients-container">
					<div class="clients">
						{{#each affiliates}}
							{{> about/affiliate_icon affiliate=this}}
						{{/each}}
					</div>
				</div> --}}

				<section class="col-md-12">
					{{!-- Glider.js structure --}}
					<div id="affiliate_glider" class="glide">

					    {{!-- <div >
					        <button data-glide-dir="=1">Community Organizations</button>
					        <button data-glide-dir="=2">Universities</button>
					        <button data-glide-dir="=3">City Agencies</button>
					    </div> --}}

					    <div class="glide__arrows" style="top: 0px;">
					        <button class="affiliate-arrow prev" data-glide-dir="=1">Community Orgs</button>
					        <div class="dot"></div>
					        <button class="affiliate-arrow next" data-glide-dir="=2">Universities</button>
					        <div class="dot"></div>
					        <button class="affiliate-arrow next" data-glide-dir="=3">City Agencies</button>
{{!-- 					        <div class="dot"></div>
 --}}					    </div>

					    <div class="affiliates-wrap" style="margin-bottom: 5%;">
					        <ul class="affiliates-track glide__track">
					        {{!-- {{jsonPrint this}} --}}
								<li id="community" class="glide__slide" style="padding: 30px; width: 50%; overflow: hidden; ">	
									{{!-- <div class="affiliate-title">Community Organizations</div>  --}}
									<div class="affiliates-group"> 
										{{#each affiliates}}
											{{#if comm}}
												{{>about/affiliate_icon affiliate=this}}
											{{/if}}
										{{/each}}
									</div>
								</li>

								<li id="university" class="glide__slide" style=" padding: 30px; width: 50%; overflow: hidden; ">	
									{{!-- <div class="affiliate-title">Universities</div> --}}
									<div class="affiliates-group"> 
										{{#each affiliates}}
											{{#if univ}}
												{{>about/affiliate_icon affiliate=this}}
											{{/if}}
										{{/each}}
									</div>
								</li>

								<li id="city" class="glide__slide" style="margin: 0; padding: 30px; width: 50%; overflow: hidden; ">	
									{{!-- <div class="affiliate-title">City Agencies</div> --}}
									<div class="affiliates-group"> 
										{{#each affiliates}}
											{{#if city}}
												{{>about/affiliate_icon affiliate=this}}
											{{/if}}
										{{/each}}
									</div>
								</li>
					        </ul>
					    </div>
					</div>
				</div>
			</section>
		</div>

		<div class="row">

			<div class="col-md-12">
				{{!-- {{> page/name name="Our Partners"}} --}}
				<h1 class="page-title text-center">Funders</h1>
			</div>
			{{!-- Partner icons --}}
			<div class="col-md-12 pv-20">
				<div class="clients-container">
					<div class="clients">
						{{#each funders}}
							{{> about/affiliate_icon affiliate=this}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>



