{{!< default}}
{{!--
/**
* Boston Civic Media
* Developed by Engagement Lab, 2015
* ==============
*
* About Page Template
* - See About model for fields
* - Use {{jsonPrint about}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
{{!-- {{jsonPrint this}} --}}
<section class="section">
	<div class="banner border-clear ">
		<div class="container">
			<div class="row">
				<div class="col-md-12 p-80-40">
					{{!-- {{> page/name name="Vision"}} --}}
					<div class="about-vision"> {{about.vision}}</div>
					<div class="about-description"> {{about.mission}}</div>
					{{!-- <div class="about-links"> {{{about.externalLinks.html}}}</div> --}}
				</div>
			</div>
		</div>
	</div>

{{!-- 	<div class="bcm-timeline banner border-clear light-gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 pv-40">
					<h1 class="page-title text-center">Timeline</h1>
					<iframe src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1nPAwCDRMHNc5fuhobxhqs-4zZ4lrM3glZemB_FBj7mc&font=Default&lang=en&initial_zoom=.5&height=650" style="width:100%; height: 650px;"></iframe>
				</div>
			</div>
		</div>
	</div>
</section> --}}

<!-- People and Affiliates-->
<section class="section clearfix light-gray-bg">
	<div class="container">

		<div class="row">

			<div class="col-md-12">
				{{!-- {{> page/name name="Our Partners"}} --}}
				<h1 class="about-title page-title text-center pb-60">BCM Leadership</h1>
			</div>
			{{#if teamMembers}}
				{{#each teamMembers}}
					{{>people/person person=this}}
				{{!-- {{people}} --}}
				{{/each}}
			{{/if}}
		</div>
		
	</div>
</section>

<section class="section clearfix">
	<div class="container">
		<div class="row">

			<div class="col-md-12 section-header">
				{{!-- {{> page/name name="Our Partners"}} --}}
				<h1 class="page-title text-center">Collaborations</h1>
				<p class="text-center">We're always looking for more collaborators. If you're interested in getting involved, here are some ways to engage with BCM:</p>
			</div>

			<div class="collaborations col-md-12 container-fluid pv-20">

			{{{collaborations.theText.html}}}

			</div>

		</div>
	</div>
</section>


<section class="section clearfix">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				{{!-- {{> page/name name="Our Partners"}} --}}
				<h1 class="page-title text-center">Partners</h1>
			</div>

			<div class="affiliates col-md-12 container-fluid pv-20">
				<div class="row affiliate-buttons clearfix button-group filters-button-group" data-filter-group="">
				    <button value="*" data-filter="*" class="button is-checked">All</button>
				    <span class="dot-gray"></span>
				    <button class="button" value="#" data-filter=".University">Universities</button>
				    <span class="dot-gray"></span>
				    <button class="button" value="#" data-filter=".CityAgency">City Agencies</button>
				    <span class="dot-gray"></span>
				    <button class="button" value="#" data-filter=".Organization">Organizations</button>
				</div>

				<div id="affiliate-content" class="isotopeContent affiliate-content row">
					{{#if affiliates}}
						{{#each affiliates}}
							<div class="col-md-3 col-sm-6 col-xs-12 affiliate-item {{{this.category}}}">
								<div style="margin:0 auto" class="" data-category="{{{this.category}}}" >
									{{>about/affiliate_icon affiliate=this}}
								</div>
							</div>
						{{/each}}
					{{else}}
						<strong>No affiliates!! Whaaaa??</strong>
					{{/if}}
				</div>

			</div>
		</div>

		{{!-- Partner icons --}}

		<div class="row">

			<div class="col-md-12">
				{{!-- {{> page/name name="Our Partners"}} --}}
				<div class="row">
					<h1 class="page-title text-center">Funders</h1>
				</div>
			
				<div class="clients-container row">
					<div class="clients col-sm-12">
						{{#each funders}}
						<div class="funder"> 
							{{> about/affiliate_icon affiliate=this}}
						</div>
						{{/each}}
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


