{{!< default}}
{{!--
/**
* Boston Civic Media
* Developed by Engagement Lab, 2015
* ==============
*
* IRB Proj Page Template
* - See IRBProj model for fields
* - Use {{jsonPrint about}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
<div id="get-involved" class="banner border-clear">
<section><h1 class="title page-title"><strong>Get Involved with Boston Civic Media</strong></h1></section>
<section class="sub-header col-sm-12 col-md-6 col-centered">
	{{getting_involved.subHeader}}
</section>

<section class="involved-wrapper col-md-10 col-centered">
	
	<div class="involved educators col-sm-12 col-md-6">
		{{!-- <div class="separator-green-blue"></div> --}}
		<h1 class="title sub-header">Educators</h1>
		<ul>
			{{#each getting_involved.edBlurb}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
	<div class="involved organizations col-sm-12 col-md-6">
		<h1 class="title sub-header">Organizations</h1>
		<ul>
			{{#each getting_involved.orgBlurb}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
	<div class="row col-sm-12"></div>

	<div class="involved researchers col-sm-12 col-md-6">
		{{!-- <div class="separator-brown"></div> --}}
		<h1 class="title sub-header">Researchers</h1>
		<ul>
			{{#each getting_involved.resBlurb}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
	<div class="involved students col-sm-12 col-md-6">
		{{!-- <div class="separator-green"></div> --}}
		<h1 class="title sub-header">Students</h1>
		<ul>
			{{#each getting_involved.studBlurb}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>

</section>

{{!-- LISTSERV --}}

<div class="row col-sm-12 clearfix">
<section><h1 class="title page-title light"><strong>Join the Boston Civic Media Listserv</strong></h1></section>
<section class="sub-header dark col-sm-12 col-md-6 col-centered">
	{{getting_involved.listservBlurb}}
</section>

<div class="listserv col-sm-12 col-md-10 col-centered">
	<div class="involved buttons">

		<a href="{{getting_involved.listservLink}}" class="btn subscribe-button" style="width: 310px;">Click here to sign up</a>
	</div>

	{{!-- <p>{{getting_involved.listservBlurb}}<br><a class="brown-item" href=""></a></p> --}}
	<div class="guidelines">
	{{#each guidelines}}
		<div class="QA">{{>about/guideline guideline=this}}</div>
	{{/each}}
	</div>
</div>

</div>
</div>