{{!< default}}
<!--====================BEGIN HOME==============-->
<div class="container-fluid">
	<div class="row">
		<!-- main start -->
		<!-- ================ -->
		<div class="main">
			<div class="col-md-12 main-blurb">
				<div class="main-mission-statement">{{missionStatements.[0]}}
				{{!-- Connecting the dots between academia, government, and civil society organizations in Boston to advance civic media. --}}</div>
				<div class="main-description">{{missionStatements.[1]}}
				{{!-- Boston Civic Media is a faculty-led network that aims to advance the transdisciplinary domain of civic media research and pedagogy in the Greater Boston Area. This initiative shares knowledge, promotes engaged research, and builds relationships among academics, nonprofits, community-based organizations, government leaders, practitioners, and students. There are plenty of ways to get involved. --}}</div>
			</div>
		</div>
	</div>
		<div class="row main-events">
			<div class="featured-event">
			{{!-- {{jsonPrint this}} --}}
			<img src="{{{cloudinaryUrl beckyBanner width=150 height=150 crop='scale' quality=100}}}" alt="{{this_event.name}}" class="photo" style="margin:0 auto;">
			</div>
		</div>

		<div class="row main-featured">

			
			{{#if featured_syllabi}}
				<section class="col-md-6 featured-syllabi">
						<h1>Featured Syllabi:</h1>

					{{!-- Glider.js structure --}}
					<div>
					    {{!-- <div class="glide__arrows">
					        <button class="glide__arrow prev" data-glide-dir="<"></button>
					        <button class="glide__arrow next" data-glide-dir=">"></button>
					    </div> --}}

					    <div>
					        <ul class="featured-list">
					        	{{!-- {{jsonPrint this}} --}}
								{{#each featured_syllabi}}
									<li>{{> index/featured_syllabi featured_syllabi=this}}</li>

								{{/each}}
					        </ul>
					    </div>
					<div class="more-button"><a href="/syllabi">See More Syllabi</a></div>

					</div>
					

				</section>
			{{/if}}	

			{{#if featured_lightning_talks}}
				<section class="col-md-6 featured-lightning-talks">
{{!-- 					        {{jsonPrint this}}
 --}}				<h1>Featured Lightning Talks:</h1>
						<h3>Listen to local civic media leaders share lessons and provocations from the field</h3>
					{{!-- Glider.js structure --}}
					<div id="featured_glider" class="glide">

					    <div class="glide__arrows">
					        <button class="glide__arrow prev" data-glide-dir="<"></button>
					        <button class="glide__arrow next" data-glide-dir=">"></button>
					    </div>

					    <div class="glide__wrapper" style="margin-left:-40px; margin-bottom: 5%;">
					        <ul class="glide__track">
					        {{!-- {{jsonPrint this}} --}}
								{{#each featured_lightning_talks}}
									<li class="glide__slide" style="padding: 30px; margin-right: -10px; width: 90%; overflow: hidden; ">{{> index/featured_lightning_talk featured_lightning_talk=this}}</li>
								{{/each}}
					        </ul>
					    </div>

					</div>
					<div class="more-button"><a href="/lightning_talk">Watch More Lightning Talks</a></div>

				</section>
			{{/if}}
		</div>
		{{!-- <div class="main col-md-12 no-gutter">

			<section class="hidden-xs-sm">
				<div class="banner clearfix fullscreen">
					<div class="overlay-container overlay-visible">
						<!-- Video Background -->
						<div class="fullscreenvideo"
							data-autoplay="true"
							data-volume="mute"
							data-forceCover="1"
							data-aspectratio="16:9"
							data-forcerewind="on"
							style="z-index: 2;">
							
							<div class='embed-container'>
								<iframe width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>

						</div>
						<div class="overlay">
							<div class="va-container">
								<div class="va-align">
									<div class="call-to-action text-center">
										<a href="/about">
											<img src="/images/logos/logo_white.png" alt="Engagement Lab Logo" id="logo-img">
											<h1 class="title font-default">Engagement Lab</h1>
											<h3>An applied research lab at Emerson College for reimagining civic engagement in a digital culture</h3>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> --}}
			<!-- banner end -->

			{{!-- {{#if featured_content}}
				<section class="recent-events clearfix light-bg">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h2 class="title text-center">What's Good at the Lab</h2>
							</div>
						</div>
						<div class="row grid-space-30">
							{{#each featured_content}}
								{{> index/recent_event colSize=eventsColumnSize event=this}}
							{{/each}}
						</div>
					</div>
				</section>
			{{/if}} --}}
			
		</div> <!-- .main -->
	</div> <!-- .row -->
</div> <!-- .container-fluid -->