{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* IRB Proj Page Template
* - See IRBProj model for fields
* - Use {{jsonPrint about}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
{{!-- {{jsonPrint this}} --}}
<div class="cirb banner border-clear">
	<div class="container-fluid">
		{{!-- <div class="row"></div> --}}
		<div class="row irb-proj">
			<div class="col-md-8 col-sm-8">
			{{!-- {{jsonPrint irb_proj}} --}}
				{{!-- {{> page/name name="Vision"}} --}}
				<div class="title-white irb-description"><p>{{{irb_proj.projDescription.html}}}</p></div>
			</div>
			<div class="col-md-4 col-sm-4">

				<div class="text-gray-dark irb-image">
					<h4>{{irb_proj.imageTitle}}</h4>
					<img src="{{{cloudinaryUrl irb_proj.image width=250 height=250 crop='scale' quality=100}}}">
					<p>{{irb_proj.imageCaption}}</p>
					<p>Contact: {{emailFormat irb_proj.email}}</a></p>
				</div>
			</div>
			{{!-- <div class="row"></div> --}}
		</div>
	</div>
</div>
