{{!< default}}
{{!-- 
/**
 * Boston Civic Media Website
 * Developed by Engagement Lab, 2016
 * ==============
 * 
 * Events Directory Page Template 
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<!-- DIRECTORY START -->
<!-- ================ -->
<section class="main-container padding-bottom-clear">
	<div class="container">
		<div class="main">
		<h2 class="page-title">{{this_talk.title}}</h2>
			{{!-- <h1 class="page-title"><strong>Single Event</strong></h1> --}}
			{{!-- {{> page/lead}} --}}
		</div>
	</div>

	{{!-- We'll need some filtering dropdowns here --}}

	{{!-- Show all syllabi below by default --}}
	<div class="container pv-20 this-event">
		<div class="row">
		{{!-- {{jsonPrint this_event}} --}}
			<div class="col-md-6">
				<div class="embed-responsive embed-responsive-16by9">
				  {{{this_talk.data.html}}}
				  {{!-- {{jsonPrint featured_lightning_talk}} --}}
				</div>

					
			</div>
			<div class="col-md-6 ph-40 event-description">
				
				<p>{{{this_talk.longDescription.html}}}</p>
				
			</div>
		</div>
		<div class="row">
			
		</div>
			
		
		</div>
		
		
</section>
