{{!< default}}
{{!-- 
/**
 * Boston Civic Media Website
 * Developed by Engagement Lab, 2016
 * ==============
 * 
 * Syllabi Directory Page Template 
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<!-- DIRECTORY START -->
<!-- ================ -->
<section class="section main-container padding-bottom-clear">
	<div class="container-fluid">
		<div class="row main-syllabi">
			<h1 class="col-md-12 syllabi-title"><strong>Syllabi</strong></h1>
			{{!-- {{> page/lead}} --}}
		</div>
	</div>

	{{!-- We'll need some filtering dropdowns here --}}


	{{!-- Show all syllabi below by default --}}
	<div class="container pv-20">
	
	  {{#each filters}}
		 	{{!-- {{label}}: --}}
			<select id="syllabi{{label}}" class="syllabi-options option-set clearfix" data-filter-group="{{label}}">
			    <option value="*" data-filter-value="" class="is-checked">All {{label}}s</option>

				  {{#each values}}
				    <option value="#" data-filter-value=".{{key}}" class="">{{name}}</option>
				  {{/each}}

			</select>

	  {{/each}}

		<div id="syllabi-content" class="syllabi row">
			{{#if syllabi}}

				{{!-- Show syllabi --}}
				{{#each syllabi}}

					<div class="col-md-6 syllabi-item {{filters}}">
						<li class="syllabus">
							<a href="/syllabi/{{syllabus_key}}"><h3 class="styled-title">{{title}}</h3></a>
							<p>{{{description}}}</p>
							<p><strong>{{{createdAt}}}</strong></p>
						</li>
					</div>

				{{/each}}

			{{else}}
				
				<strong>No syllabi! Fiddlesticks!</strong>
			
			{{/if}}
		</div>
	</div>
</section>
