{{!< default}}
{{!-- 
/**
 * Boston Civic Media Website
 * Developed by Engagement Lab, 2016
 * ==============
 * 
 * Events Directory Page Template 
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<!-- DIRECTORY START -->
<!-- ================ -->
<section class="main-container padding-bottom-clear">
	<div class="">
		<div class="main ph-40">
		<h3 class="page-title">{{this_syllabus.title}}</h3>
			<h5>{{this_syllabus.author}}</h5>
			{{!-- {{> page/lead}} --}}
		</div>
	</div>

	{{!-- We'll need some filtering dropdowns here --}}

	{{!-- Show all syllabi below by default --}}
	<div class="ph-40 pv-40">
		<div class="row">
			<div class="col-md-4 col-sm-4">
			
				{{#if this_syllabus.institution}}
					<p><strong>Institution(s): {{#each this_syllabus.institution}} {{this.name}}{{#unless @last}}, {{/unless}} {{/each}}</strong></p>
				{{/if}}

				{{#if this_syllabus.discipline}}
					<p><strong>Discipline(s): {{#each this_syllabus.discipline}} {{this.name}}{{#unless @last}}, {{/unless}} {{/each}}</strong></p>
				{{/if}}

				{{#if this_syllabus.faculty}}
					<p><strong>Faculty Member(s): {{#each this_syllabus.faculty}} {{this.name}}{{#unless @last}}, {{/unless}} {{/each}}</strong></p>
				{{/if}}

				{{#if this_syllabus.keyword}}
					<p><strong>Keyword(s): {{#each this_syllabus.keyword}}{{this.name}}{{#unless @last}}, {{/unless}} {{/each}}</strong></p>
				{{/if}}

				{{#if this_syllabus.partnerOrg}}
					<p><strong>Partner Organization(s):{{#each this_syllabus.partnerOrg}}{{this.name}}{{#unless @last}}, {{/unless}} {{/each}}</strong></p>
				{{/if}}

			</div>
			<div class="this-syllabus-description col-md-8 col-sm-8">
				
				<p>{{this_syllabus.description}}</p>
			</div>

			
		</div>
		{{#if this_syllabus.file}}
		<div class="row">
			<div class="col-md-12">
				<a href="{{{this_syllabus.file.url}}}" class="syllabus-button" download="{{this_syllabus.file.filename}}">Download PDF <span class="fa fa-download"></span></a>
			</div>
		</div>
		{{/if}}
	</div>
		
</section>
