{{!< default}}
{{!-- 
/**
 * Boston Civic Media Website
 * Developed by Engagement Lab, 2016
 * ==============
 * 
 * Syllabi Directory Page Template 
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<!-- DIRECTORY START -->
<!-- ================ -->
<section class="section main-container padding-bottom-clear">
	<div class="container">
		<div class="main">
			<h1 class="page-title"><strong>Syllabi</strong></h1>
			{{!-- {{> page/lead}} --}}
		</div>
	</div>

	{{!-- We'll need some filtering dropdowns here --}}


	{{!-- Show all syllabi below by default --}}
	<div class="container pv-20">
	
	  {{#each filters}}
		 	{{label}}:
			<select class="option-set clearfix" data-filter-group="{{label}}">
			    <option value="*" data-filter-value="" class="selected">All</option>

				  {{#each values}}
				    <option value="#" data-filter-value=".{{key}}">{{name}}</option>
				  {{/each}}

			</select>

	  {{/each}}

		<div id="syllabi-content" class="syllabi row">
			{{#if syllabi}}

				{{!-- Show syllabi --}}
				{{#each syllabi}}
					
					<div class="syllabi-item {{institution.key}} {{discipline.key}}">
						<li class=""data-institution="{{{institution.name}}}" data-discipline="{{{discipline.name}}}">
							<h3>{{title}}</h3>
							<p>{{{description}}}</p>
							<p><strong>{{{createdAt}}}</strong></p>
						</li>
					</div>

				{{/each}}

			{{else}}
				
				<strong>No syllabi! Fiddlesticks!</strong>
			
			{{/if}}
		</div>
	</div>
</section>
