<footer id="footer" class="row clearfix">

	<div class="footer col-lg-6 col-sm-12 col-centered">
		<div class="dark footer-content text-center padding-ver-clear">

			<div class="logos-footer center-block">
				{{{cloudinaryUrl '/v1495219010/boston-civic-media/layout/el_logo_green' height=75 format='svg' id="logo-el" alt="Engagement Lab"}}}
				{{{cloudinaryUrl '/v1495219010/boston-civic-media/layout/cross' width=35 format='svg' alt="Boston Civic Media"}}}
				{{{cloudinaryUrl '/v1495219010/boston-civic-media/layout/bcm_green' height=75 format='svg' id="logo-bcm" alt="Boston Civic Media"}}}
				{{{cloudinaryUrl '/v1496158923/boston-civic-media/layout/cross' width=35 format='svg' alt="Boston Civic Media"}}}
				{{{cloudinaryUrl '/v1495219010/boston-civic-media/layout/teagle_green' height=75 format='svg' id="logo-teagle" alt="Teagle Foundation"}}}
			</div>

			<div class="row footer-content-list">
				<div class="col-md-12">
					{{#each footer.content}}
					<div class="footer-line">{{this}}</div>
					{{/each}}
				</div>
			</div>

			<div class="row buttons">
				<div class="subscribe col-md-5 col-centered">
					
					<a href="{{footer.subscribeLink}}" class="btn subscribe-button">Newsletter</a>
					<p>{{footer.subscribe}}</p>
				</div>

				<div class="subscribe col-md-5 col-centered">
					
					<a href="{{footer.listservLink}}" class="btn subscribe-button">Listserv</a>
					<p>{{footer.listserv}}</p>
				</div>
			</div>
							
		</div>
	</div>

</footer>