<div class="affiliate-image">
	<span class="without-bg">
	{{!-- {{jsonPrint affiliate}} --}}
		<a href="{{affiliate.url}}" target="_blank" title="{{affiliate.name}}"><img src="{{{cloudinaryUrl affiliate.logo width=100 height=100 crop='scale' quality=100}}}" alt="{{affiliate.name}}" class="photo"></a>
	</span>
</div>