{{!-- 
/**
	* Engagement Lab Website
	* Developed by Engagement Lab, 2016
	* ==============
	* 
	* Featured project partial 
	* ==========
	*/
--}}
<div class="banner border-clear">
	<div class="">
		<div class="">
			<div class="">
				<div class="va-container">
					<div class="va-align">
						<a href="/syllabi/{{featured_syllabi.syllabus_key}}"><h3>{{featured_syllabi.title}}</h3></a>
						<p>{{featured_syllabi.blurb}}</p>
						{{!-- <p><a href="/projects/{{syllabi.subdirectory.key}}/{{project.key}}">Read more</a> --}}

					</div> <!-- .va-align -->
				</div> <!-- .va-container -->
			</div> <!-- .col-sm-6 -->
		</div> <!-- .row -->
	</div> <!-- .container -->
</div> <!-- .banner -->
