{{!-- 
/**
	* Engagement Lab Website
	* Developed by Engagement Lab, 2016
	* ==============
	* 
	* Featured project partial 
	* ==========
	*/
--}}
{{!-- <div class="banner border-clear" style=""> --}}
	{{!-- <div class="container"> --}}
		{{!-- <div class="row"> --}}
			<div>
				<div>
					<div>
						{{!-- {{jsonPrint featured_lightning_talk}} --}}
						<div class="lightning-talk-title"><h3>{{featured_lightning_talk.title}}</h3></div>
						{{!-- <p><a href="/projects/{{syllabi.subdirectory.key}}/{{project.key}}">Read more</a> --}}
						<div class="embed-responsive embed-responsive-16by9">
						  {{{featured_lightning_talk.data.html}}}
						  {{!-- {{jsonPrint featured_lightning_talk}} --}}
						</div>
						

					</div> <!-- .va-align -->
				</div>
				<div class="talk-description"><p>{{featured_lightning_talk.description}}</p></div> <!-- .va-container -->
			</div> <!-- .col-sm-6 -->
		{{!-- </div> <!-- .row --> --}}
	{{!-- </div> <!-- .container --> --}}
{{!-- </div> <!-- .banner --> --}}
