<div class="col-md-12">
	<div class="pv-30 ph-20 featured-event text-center" id="box-{{@index}}">
		<div class="">
			<a href="/events/{{event.event_key}}"><div class="row" style="margin: 0 auto;">
				<div class="col-md-6">
					
					<img src="{{{cloudinaryUrl event.image width=auto height=400 crop='scale' quality=100}}}" alt="{{event.name}}" class="photo" style="margin:20px auto;">
				</div>
				{{!-- <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span> --}}
				{{!-- {{#if event.footer}} --}}
				<div class="col-md-6">
					<div class="feat-event-title">
						<h2><span>{{{event.theTitle.html}}}</span></h2>
						{{!-- {{jsonPrint this}} --}}
					</div>
					<p>{{{event.theFooter.html}}}</p>
				</div>
				{{!-- {{/if}} --}}
			</div></a>
		</div>
	</div>
</div>