{{!-- 
/**
	* Boston Civic Media
	* Developed by Engagement Lab, 2016
	* ==============
	* 
	* Featured project partial 
	* ==========
	*/
--}}
{{!-- <div class="banner border-clear"> --}}
	<div class="">
		{{!-- <div class="row"> --}}
			<div class="lightning-talk">
				<div class="va-container">
					<div class="va-align">
						
						{{!-- <p><a href="/projects/{{syllabi.subdirectory.key}}/{{project.key}}">Read more</a> --}}
						<div class="embed-responsive embed-responsive-16by9">
						  {{{lightning_talk.data.html}}}
						  {{!-- {{jsonPrint featured_lightning_talk}} --}}
						</div>
						{{!-- <div class="lightning-talk-title"><h5 class="talk-title">{{lightning_talk.title}}</h5></div> --}}
						<p>{{{lightning_talk.talkDescription.html}}}</p>
						<a href="/lightning-talks/{{lightning_talk.talk_key}}"><p>More Information</p></a>
					</div> <!-- .va-align -->
				</div> <!-- .va-container -->
			</div> <!-- .col-sm-6 -->
		{{!-- </div> <!-- .row --> --}}
	</div> <!-- .container -->
{{!-- </div> <!-- .banner --> --}}
