<div class="col-md-3 col-sm-12">
	<div class="text-center" id="box-{{@index}}">
		<div class="va-container">
			<div class="va-align recent-event">
				<div class="event-title">
					<h4>{{event.title}}</h4>
					{{!-- {{jsonPrint this}} --}}
				</div>
				<a href="/events/{{event.event_key}}"><img src="{{{cloudinaryUrl event.image width=150 height=150 crop='scale' quality=100}}}" alt="{{event.name}}" class="photo" style="margin:0 auto;">{{!-- <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span> --}}</a>
				{{!-- {{#if event.footer}} --}}
					<p>{{{removePara event.theFooter.html}}}</p>
				{{!-- {{/if}} --}}
			</div>
		</div>
	</div>
</div>