<div class="recent-event">
	<div class="row" id="box-{{@index}}">
		{{!-- <div class="va-container">
			<div class="va-align"> --}}
				<div class="col-md-2 col-sm-4 col-xs-12 col-lg-2">
				<img src="{{{cloudinaryUrl event.image width=150 height=150 crop='scale'}}}" alt="{{event.name}}" class="photo">
				</div>
				<div class="col-md-10 col-sm-8 col-xs-12 col-lg-10 content">
				<h1>
					{{event.name}}
				</h1>
				<h2>{{date event.date format='MMMM Do YYYY'}}</h2>
				
				{{{event.theFooter.html}}}
				<a href="/events/{{event.event_key}}"><span>Read More</span></a>
				</div>
{{!-- 			</div>
		</div> --}}
	</div>
</div>