{{!-- 
/**
	* Engagement Lab Website
	* Developed by Engagement Lab, 2016
	* ==============
	* 
	* Featured project partial 
	* ==========
	*/
--}}
<div class="banner border-clear" style="background-color: #FFCF18;">
	<div class="container featured-project">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-md-offset-1">
				<div class="">
					<div class="">
						<a href="/syllabi/{{syllabi.syllabus_key}}"><h1>{{syllabi.name}}</h1></a>
						<p>{{syllabi.blurb}}</p>
						{{!-- <p><a href="/projects/{{syllabi.subdirectory.key}}/{{project.key}}">Read more</a> --}}
					</div> <!-- .va-align -->
				</div> <!-- .va-container -->
			</div> <!-- .col-sm-6 -->
		</div> <!-- .row -->
	</div> <!-- .container -->
</div> <!-- .banner -->
